@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #373737;
}

.container{
    max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;;
}
.button-button--mimas{
width: 152px;
/* margin: 0 auto; */
margin-left: auto;
height: 20px;
margin-right: auto;
margin-bottom: 25px;
/* padding: 10px; */
}
.choose-test_text{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

/* ------------------------------------------------------------------------------   html-css -------------------------------------------------------------------------- */

.header{
    margin-top: 20px;
}

.html-css-header-text{
    /* margin: 0 0 auto 0; */
    margin-bottom: auto;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: white;  
      text-align: center;
      font-size: 25px;
      text-decoration: bold;
}





.html-css-ask-1{
  margin-top: 20px;
}

.html-css-ask-text{
    margin-bottom: auto;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: white;  
      text-align: center;
      font-size: 20px;
      text-decoration: bold;
      
}